<html>
    <head>
        <title>
            Celebrity Game
        </title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.css">
        <link rel="stylesheet" href="/stylesheets/app.css">
    </head>
    <body>
        <div class="ui secondary  menu">
            <a href="/players" class="active item">
                Players
            </a>
            <div class="right menu">
                <a href="/players/new" class="ui item">
                    Sign Up
                </a>
                <a href="/players/login" class="ui item">
                    Log In
                </a>
                <a href="/players/logout"  class="ui item">
                    Logout
                </a>
            </div>
        </div>
