<% include ./partials/header %>
<div class="ui container">
    <div class="ui center aligned basic segment">
        <!--
        <h1>
            JOIN A GAME
        </h1>
        <form class="ui massive form" action="/players/new" method="POST">
            <div class="inline fields">
                <div class="field">
                    <div class="ui left icon input">
                <i class="pin icon"></i>
                     <input type="text" placeholder="Pin #" name="pin">
                     </div>
                </div>
                <div class="field">
                    <input type="text" placeholder="User Name" name="username">
                </div>
                <div class="field">
                    <input type="password" placeholder="Password"  name="password">
                </div>
                <button class="massive ui blue basic button">
                    <i class="chevron right icon"></i>
                </button>
            </div>
        </form>
        -->
        <div class="ui horizontal divider">
            <h2>
                Or
            </h2>
        </div>
            <h1>
                <a href="/games/new">
                    CREATE A BRAND NEW GAME
                </a>
            </h1>
    </div>
</div>
<% include ./partials/footer %>

