<% include ../partials/header %>
<h1>CHOOSE YOUR GAME</h1>
<ul>
<% games.forEach(game=> { %>
    <li><%= game.teamOne %></li>
    <li><%= game.teamTwo %></li>
    <li><%= game.pin %></li>
    <a href="/games/<%= game._id %>" >Go to this game</a>
<% }); %>
</ul>
<% include ../partials/footer %>
