<% include ../partials/header %>
    <h1>Create Setting for New Celebrity Game</h1>
    <form action="" method="POST">
        <input type="text" name="playerNumber" placeholder="max number of players">
        <input type="text" name="teamOne" placeholder="Team one name">
        <input type="text" name="teamTwo" placeholder="Team two name">
        <input type="text" name="entryNumber" placeholder="entries per player">
        <input type="submit" value="Submit">
    </form>
<% include ../partials/footer %>